* {
	margin: 0;
	padding: 0;
}

:root {
	--verde: rgb(45, 174, 28);
}

header {
	height: 10vh;
	background-color: white;
}

h1 {
	color: var(--verde);
}

nav {
	height: 8vh;
	background-color: var(--verde);
	color: white;
	display: flex;
}

a {
	color: white;
	width: 110px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-decoration: none;
}

a:hover {
	background-color: rgb(122, 237, 107);
}

main {
	height: 70vh;
}

footer {
	height: 12vh;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
